<div class="container" cg-busy="vm.promise">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Logo</th>
      <th>Address</th>
      <th>Email</th>
      <th>Website</th>
      <th>Organic</th>
      <th>Phone number</th>
      <th>Ratings</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="brewery in vm.breweryListModel track by $index">
      <td>{{brewery.name}}</td>
      <td><img class="brewery-list-logo-table" src="{{brewery.logo}}"/></td>
      <td>{{brewery.address}}</td>
      <td>{{brewery.email}}</td>
      <td>{{brewery.website}}</td>
      <td>{{brewery.organic == '1'? true: false}}</td>
      <td>{{brewery.phonenumber}}</td>
      <td>{{brewery.rating}}</td>
    </tr>
    </tbody>
  </table>
  <div class="row">
    <a ng-href="#/brewery">
      <p class="form-control-static">
        <button type="button" class="btn btn-primary btn-lg">Add a new brewery</button>
      </p>
      </a>
  </div>
</div>
