
<div class="container" cg-busy="vm.promise">
  <div class="alert alert-success" ng-show="vm.showSuccessAlert">
    <button type="button" class="close" ng-click="vm.switchSuccess()" >×</button>
    <strong>Success! Brewery Saved</strong>
  </div>
  <div class="alert alert-danger" ng-show="vm.showErrorAlert">
    <button type="button" class="close" ng-click="vm.switchError()" >×</button>
    <strong>An error has occurred!</strong>
  </div>
    <form name="breweryForm">
      <div class="col-md-6">
        <div class="form-group">
          <label id="breweryNameLabel" for="breweryName">Name</label>
          <input id="breweryName" class="form-control" type="text" ng-model="vm.breweryModel.name"/>
        </div>
        <!--<div class="form-group">-->
          <!--<label id="breweryLogoLabel" for="breweryLogoUpload">Logo</label>-->
          <!--<input id="breweryLogoUpload" type="file" />-->
          <!--<img id="breweryLogoModel" src="{{vm.breweryModel.logo}}"/>-->
        <!--</div>-->
        <div class="form-group">
          <label id="breweryAddressLabel" for="breweryAddress">Address</label>
          <input id="breweryAddress" class="form-control" type="text" ng-model="vm.breweryModel.address"/>
        </div>
        <div class="form-group">
          <label id="breweryLatitudeLabel" for="breweryLatitude">Latitude</label>
          <input id="breweryLatitude" class="form-control" type="text" ng-model="vm.breweryModel.map_loc_latitude"/>
        </div>
        <div class="form-group">
          <label id="breweryLongitudeLabel" for="breweryLongitude">Longitude</label>
          <input id="breweryLongitude" class="form-control" type="text" ng-model="vm.breweryModel.map_loc_longitude"/>
        </div>
        <div class="form-group">
          <label id="breweryEmailLabel" for="breweryEmail">Email</label>
          <input id="breweryEmail" class="form-control" type="text" ng-model="vm.breweryModel.email"/>
        </div>
        <div class="form-group">
          <label id="breweryWebsiteLabel" for="breweryWebsite">Website</label>
          <input id="breweryWebsite" class="form-control" type="text" ng-model="vm.breweryModel.website"/>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label id="breweryOrganicLabel" for="breweryOrganic">
              <input id="breweryOrganic" type="checkbox"
                     ng-model="vm.breweryModel.organic"> Organic
            </label>
          </div>
        </div>
        <div class="form-group">
          <label id="breweryPhoneLabel" for="breweryPhone">Phone number</label>
          <input id="breweryPhone" class="form-control" type="text" ng-model="vm.breweryModel.phonenumber"/>
        </div>
        <button id="sbtBrewerySave" type="button" class="btn btn-primary" ng-click="vm.saveBrewery()"><i class="glyphicon glyphicon-floppy-disk"></i> Save Brewery</button>
      </div>
    </form>

  <div class="row container">
    <div map-lazy-load="https://maps.google.com/maps/api/js"
         map-lazy-load-params="{{vm.googleMapsUrl}}">
      <ng-map center="41,-87" zoom="3"></ng-map>
    </div>
    </div>
  </div>
</div>
