<div class="jumbotron">
  <h1>AirBnBrew</h1>
  <p class="lead">
    <img src="images/logo-horizontal.png" alt="CS Vikings"><br>
  </p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <a ng-href="#/brewery-list">
        <div class="text-center">
          <input id="breweryFacility" class="icon-md-size" type="image" src="images/facility.png"
                 alt="Brewery facility"/>
          <label id="breweingLabel" for="breweryFacility">
            <h2>View breweries</h2>
          </label>
        </div>

      </a>
    </div>
    <div class="col-md-4">
      <a ng-href="#/brewer">
        <div class="text-center">
          <input id="brewer" class="icon-md-size" type="image" src="images/brewer.png" alt="Brewer"/>
          <label id="brewerLabel" for="brewer">
            <h2>Brewer profile</h2>
          </label>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a ng-href="#/reservation">
        <d  iv class="text-center">
          <input id="reservation" class="icon-md-size" type="image" src="images/booking.png" alt="Make a reservation"/>
          <label id="reservationLabel" for="reservation">
            <h2>Make a reservation</h2>
          </label>
        </div>
      </a>
    </div>
  </div>
</div>
